.wrapper-item {
  width: 100%;

  .item-article {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;

    .item-head {
      display: flex;
      flex-direction: column;

      .item-title {
        text-align: center;

        .scaleup {
          display: inline-block;
          color: #444;
          font-weight: 700;
          font-size: 25px;
          transition: 0.3s ease;
        }

        .scaleup:hover {
          transform: scale(1.1);
        }
      }

      .item-subtitle {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 12px;

        span {
          margin: 0 5px;
        }

        .item-published-time {
          color: #00a7e0;
          letter-spacing: 1px;
        }
      }
    }

    .item-body {
      margin-top: 20px;
    }

  }
}
